# Do not include content specific for versioned branches
*.po
*.po~
*.mo
*.pot
stats.json
potodo.md
.tx/config

# Do not include virtual environments
venv/
.venv/

# Do not include temporary directories
logs/
.potodo/
cpython
